*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #efefef;
    text-align: center;
    align-items: center;
    border: 2px solid #fff;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 150px;
    border-radius: 10px;
}
header{
    background: #fff;
}

.sign{
    padding-bottom: 10px;
    margin-top: 10px;
}
.wrapper{
    font-weight: 300;
    padding-bottom: 20px;
}
input{
    width: 450px;
    border-radius: 5px;
    padding: 20px;
    border-color:blue;
}
input::placeholder{
    color: blue;
    font-size: 15px;
}
.reset{
    color: blue;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-right: 340px;
    font-family: sans-serif;
}
.words {
  padding-top: 30px;
  margin-right: 40px;
  padding-bottom: 30px;
}
.learn {
  color: blue;
  margin-right: 360px;
  padding-bottom: 20px;
  margin-top: -25px;
}
.create{
    color: blue;
    margin-right: 315px;
    margin-top: 40px;
    margin-bottom: -25px;
}
.btn{
    background-color: blue;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;

    margin-left: 320px;
    width: 150px;
    cursor: pointer;
     text-align: center;
     margin-bottom: 50px;
}
.btn:hover{
    color: blue;
    background: gray;
}